a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
.centertext{
    text-align:center
}
.visuallyhidden{
    position:absolute;
    top:0;
    left:0;
    clip:rect(1px 1px 1px 1px);
    clip:rect(1px,1px,1px,1px);
    -webkit-clip-path:inset(0 0 99.9% 99.9%);
    clip-path:inset(0 0 99.9% 99.9%);
    overflow:hidden;
    height:1px;
    width:1px;
    padding:0;
    border:0
}
.imagereplace{
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap
}
.clearfix:after{
    content:"";
    display:table;
    clear:both
}
.omega{
    margin-right:0!important
}
body:before{
    content:"";
    display:inline-block;
    height:100%;
    -webkit-transform:translateX(-1%);
    transform:translateX(-1%);
    -webkit-box-shadow:100px 0 0 100px #fff;
    box-shadow:100px 0 0 100px #fff;
    left:0;
    margin:0 auto;
    opacity:.2;
    position:fixed;
    right:0;
    width:100%;
    max-width:1440px;
    pointer-events:none;
    z-index:2;
    background-image:repeating-linear-gradient(90deg,#fff 1%,#fff 8.41667%,#fff 0,transparent 0,transparent 9.41667%)
}
body {
    height: 100%;
}
html{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
*,:after,:before{
    -webkit-box-sizing:inherit;
    box-sizing:inherit
}
.row{
    display:block;
    position:relative
}
.row:after{
    clear:both;
    content:"";
    display:block
}
.col{
    float:left;
    display:block;
    margin-right:1%;
    width:7.41667%;
    position:relative
}
.col,.col:last-child{
    margin-right:0
}
.col.span-0{
    float:left;
    display:block;
    margin-right:1%;
    width:-1%
}
.col.span-0:last-child{
    margin-right:0
}
.col.pull-0,.col.push-0{
    margin-left:0
}
.col.span-1{
    float:left;
    display:block;
    margin-right:1%;
    width:7.41667%
}
.col.span-1:last-child{
    margin-right:0
}
.col.pull-1{
    margin-left:-8.41667%
}
.col.push-1{
    margin-left:8.41667%
}
.col.span-2{
    float:left;
    display:block;
    margin-right:1%;
    width:15.83333%
}
.col.span-2:last-child{
    margin-right:0
}
.col.pull-2{
    margin-left:-16.83333%
}
.col.push-2{
    margin-left:16.83333%
}
.col.span-3{
    float:left;
    display:block;
    margin-right:1%;
    width:24.25%
}
.col.span-3:last-child{
    margin-right:0
}
.col.pull-3{
    margin-left:-25.25%
}
.col.push-3{
    margin-left:25.25%
}
.col.span-4{
    float:left;
    display:block;
    margin-right:1%;
    width:32.66667%
}
.col.span-4:last-child{
    margin-right:0
}
.col.pull-4{
    margin-left:-33.66667%
}
.col.push-4{
    margin-left:33.66667%
}
.col.span-5{
    float:left;
    display:block;
    margin-right:1%;
    width:41.08333%
}
.col.span-5:last-child{
    margin-right:0
}
.col.pull-5{
    margin-left:-42.08333%
}
.col.push-5{
    margin-left:42.08333%
}
.col.span-6{
    float:left;
    display:block;
    margin-right:1%;
    width:49.5%
}
.col.span-6:last-child{
    margin-right:0
}
.col.pull-6{
    margin-left:-50.5%
}
.col.push-6{
    margin-left:50.5%
}
.col.span-7{
    float:left;
    display:block;
    margin-right:1%;
    width:57.91667%
}
.col.span-7:last-child{
    margin-right:0
}
.col.pull-7{
    margin-left:-58.91667%
}
.col.push-7{
    margin-left:58.91667%
}
.col.span-8{
    float:left;
    display:block;
    margin-right:1%;
    width:66.33333%
}
.col.span-8:last-child{
    margin-right:0
}
.col.pull-8{
    margin-left:-67.33333%
}
.col.push-8{
    margin-left:67.33333%
}
.col.span-9{
    float:left;
    display:block;
    margin-right:1%;
    width:74.75%
}
.col.span-9:last-child{
    margin-right:0
}
.col.pull-9{
    margin-left:-75.75%
}
.col.push-9{
    margin-left:75.75%
}
.col.span-10{
    float:left;
    display:block;
    margin-right:1%;
    width:83.16667%
}
.col.span-10:last-child{
    margin-right:0
}
.col.pull-10{
    margin-left:-84.16667%
}
.col.push-10{
    margin-left:84.16667%
}
.col.span-11{
    float:left;
    display:block;
    margin-right:1%;
    width:91.58333%
}
.col.span-11:last-child{
    margin-right:0
}
.col.pull-11{
    margin-left:-92.58333%
}
.col.push-11{
    margin-left:92.58333%
}
.col.span-12{
    float:left;
    display:block;
    margin-right:1%;
    width:100%
}
.col.span-12:last-child{
    margin-right:0
}
.col.pull-12{
    margin-left:-101%
}
.col.push-12{
    margin-left:101%
}
.col.no-omega-,.col.omega-{
    margin-right:0
}
@media screen and (min-width:min-width 1281px max-width 1440px 12){
    .col.span-xl-0{
        float:left;
        display:block;
        margin-right:1%;
        width:-1%
    }
    .col.span-xl-0:last-child{
        margin-right:0
    }
    .col.pull-xl-0,.col.push-xl-0{
        margin-left:0
    }
    .col.span-xl-1{
        float:left;
        display:block;
        margin-right:1%;
        width:7.41667%
    }
    .col.span-xl-1:last-child{
        margin-right:0
    }
    .col.pull-xl-1{
        margin-left:-8.41667%
    }
    .col.push-xl-1{
        margin-left:8.41667%
    }
    .col.span-xl-2{
        float:left;
        display:block;
        margin-right:1%;
        width:15.83333%
    }
    .col.span-xl-2:last-child{
        margin-right:0
    }
    .col.pull-xl-2{
        margin-left:-16.83333%
    }
    .col.push-xl-2{
        margin-left:16.83333%
    }
    .col.span-xl-3{
        float:left;
        display:block;
        margin-right:1%;
        width:24.25%
    }
    .col.span-xl-3:last-child{
        margin-right:0
    }
    .col.pull-xl-3{
        margin-left:-25.25%
    }
    .col.push-xl-3{
        margin-left:25.25%
    }
    .col.span-xl-4{
        float:left;
        display:block;
        margin-right:1%;
        width:32.66667%
    }
    .col.span-xl-4:last-child{
        margin-right:0
    }
    .col.pull-xl-4{
        margin-left:-33.66667%
    }
    .col.push-xl-4{
        margin-left:33.66667%
    }
    .col.span-xl-5{
        float:left;
        display:block;
        margin-right:1%;
        width:41.08333%
    }
    .col.span-xl-5:last-child{
        margin-right:0
    }
    .col.pull-xl-5{
        margin-left:-42.08333%
    }
    .col.push-xl-5{
        margin-left:42.08333%
    }
    .col.span-xl-6{
        float:left;
        display:block;
        margin-right:1%;
        width:49.5%
    }
    .col.span-xl-6:last-child{
        margin-right:0
    }
    .col.pull-xl-6{
        margin-left:-50.5%
    }
    .col.push-xl-6{
        margin-left:50.5%
    }
    .col.span-xl-7{
        float:left;
        display:block;
        margin-right:1%;
        width:57.91667%
    }
    .col.span-xl-7:last-child{
        margin-right:0
    }
    .col.pull-xl-7{
        margin-left:-58.91667%
    }
    .col.push-xl-7{
        margin-left:58.91667%
    }
    .col.span-xl-8{
        float:left;
        display:block;
        margin-right:1%;
        width:66.33333%
    }
    .col.span-xl-8:last-child{
        margin-right:0
    }
    .col.pull-xl-8{
        margin-left:-67.33333%
    }
    .col.push-xl-8{
        margin-left:67.33333%
    }
    .col.span-xl-9{
        float:left;
        display:block;
        margin-right:1%;
        width:74.75%
    }
    .col.span-xl-9:last-child{
        margin-right:0
    }
    .col.pull-xl-9{
        margin-left:-75.75%
    }
    .col.push-xl-9{
        margin-left:75.75%
    }
    .col.span-xl-10{
        float:left;
        display:block;
        margin-right:1%;
        width:83.16667%
    }
    .col.span-xl-10:last-child{
        margin-right:0
    }
    .col.pull-xl-10{
        margin-left:-84.16667%
    }
    .col.push-xl-10{
        margin-left:84.16667%
    }
    .col.span-xl-11{
        float:left;
        display:block;
        margin-right:1%;
        width:91.58333%
    }
    .col.span-xl-11:last-child{
        margin-right:0
    }
    .col.pull-xl-11{
        margin-left:-92.58333%
    }
    .col.push-xl-11{
        margin-left:92.58333%
    }
    .col.span-xl-12{
        float:left;
        display:block;
        margin-right:1%;
        width:100%
    }
    .col.span-xl-12:last-child{
        margin-right:0
    }
    .col.pull-xl-12{
        margin-left:-101%
    }
    .col.push-xl-12{
        margin-left:101%
    }
    .col.no-omega-xl,.col.omega-xl{
        margin-right:0
    }
}
@media screen and (min-width:min-width 768px max-width 1067px 12){
    .col.span-md-0{
        float:left;
        display:block;
        margin-right:1%;
        width:-1%
    }
    .col.span-md-0:last-child{
        margin-right:0
    }
    .col.pull-md-0,.col.push-md-0{
        margin-left:0
    }
    .col.span-md-1{
        float:left;
        display:block;
        margin-right:1%;
        width:7.41667%
    }
    .col.span-md-1:last-child{
        margin-right:0
    }
    .col.pull-md-1{
        margin-left:-8.41667%
    }
    .col.push-md-1{
        margin-left:8.41667%
    }
    .col.span-md-2{
        float:left;
        display:block;
        margin-right:1%;
        width:15.83333%
    }
    .col.span-md-2:last-child{
        margin-right:0
    }
    .col.pull-md-2{
        margin-left:-16.83333%
    }
    .col.push-md-2{
        margin-left:16.83333%
    }
    .col.span-md-3{
        float:left;
        display:block;
        margin-right:1%;
        width:24.25%
    }
    .col.span-md-3:last-child{
        margin-right:0
    }
    .col.pull-md-3{
        margin-left:-25.25%
    }
    .col.push-md-3{
        margin-left:25.25%
    }
    .col.span-md-4{
        float:left;
        display:block;
        margin-right:1%;
        width:32.66667%
    }
    .col.span-md-4:last-child{
        margin-right:0
    }
    .col.pull-md-4{
        margin-left:-33.66667%
    }
    .col.push-md-4{
        margin-left:33.66667%
    }
    .col.span-md-5{
        float:left;
        display:block;
        margin-right:1%;
        width:41.08333%
    }
    .col.span-md-5:last-child{
        margin-right:0
    }
    .col.pull-md-5{
        margin-left:-42.08333%
    }
    .col.push-md-5{
        margin-left:42.08333%
    }
    .col.span-md-6{
        float:left;
        display:block;
        margin-right:1%;
        width:49.5%
    }
    .col.span-md-6:last-child{
        margin-right:0
    }
    .col.pull-md-6{
        margin-left:-50.5%
    }
    .col.push-md-6{
        margin-left:50.5%
    }
    .col.span-md-7{
        float:left;
        display:block;
        margin-right:1%;
        width:57.91667%
    }
    .col.span-md-7:last-child{
        margin-right:0
    }
    .col.pull-md-7{
        margin-left:-58.91667%
    }
    .col.push-md-7{
        margin-left:58.91667%
    }
    .col.span-md-8{
        float:left;
        display:block;
        margin-right:1%;
        width:66.33333%
    }
    .col.span-md-8:last-child{
        margin-right:0
    }
    .col.pull-md-8{
        margin-left:-67.33333%
    }
    .col.push-md-8{
        margin-left:67.33333%
    }
    .col.span-md-9{
        float:left;
        display:block;
        margin-right:1%;
        width:74.75%
    }
    .col.span-md-9:last-child{
        margin-right:0
    }
    .col.pull-md-9{
        margin-left:-75.75%
    }
    .col.push-md-9{
        margin-left:75.75%
    }
    .col.span-md-10{
        float:left;
        display:block;
        margin-right:1%;
        width:83.16667%
    }
    .col.span-md-10:last-child{
        margin-right:0
    }
    .col.pull-md-10{
        margin-left:-84.16667%
    }
    .col.push-md-10{
        margin-left:84.16667%
    }
    .col.span-md-11{
        float:left;
        display:block;
        margin-right:1%;
        width:91.58333%
    }
    .col.span-md-11:last-child{
        margin-right:0
    }
    .col.pull-md-11{
        margin-left:-92.58333%
    }
    .col.push-md-11{
        margin-left:92.58333%
    }
    .col.span-md-12{
        float:left;
        display:block;
        margin-right:1%;
        width:100%
    }
    .col.span-md-12:last-child{
        margin-right:0
    }
    .col.pull-md-12{
        margin-left:-101%
    }
    .col.push-md-12{
        margin-left:101%
    }
    .col.no-omega-md,.col.omega-md{
        margin-right:0
    }
}
@media screen and (min-width:min-width 300px max-width 767px 12){
    .col.span-sm-0{
        float:left;
        display:block;
        margin-right:1%;
        width:-1%
    }
    .col.span-sm-0:last-child{
        margin-right:0
    }
    .col.pull-sm-0,.col.push-sm-0{
        margin-left:0
    }
    .col.span-sm-1{
        float:left;
        display:block;
        margin-right:1%;
        width:7.41667%
    }
    .col.span-sm-1:last-child{
        margin-right:0
    }
    .col.pull-sm-1{
        margin-left:-8.41667%
    }
    .col.push-sm-1{
        margin-left:8.41667%
    }
    .col.span-sm-2{
        float:left;
        display:block;
        margin-right:1%;
        width:15.83333%
    }
    .col.span-sm-2:last-child{
        margin-right:0
    }
    .col.pull-sm-2{
        margin-left:-16.83333%
    }
    .col.push-sm-2{
        margin-left:16.83333%
    }
    .col.span-sm-3{
        float:left;
        display:block;
        margin-right:1%;
        width:24.25%
    }
    .col.span-sm-3:last-child{
        margin-right:0
    }
    .col.pull-sm-3{
        margin-left:-25.25%
    }
    .col.push-sm-3{
        margin-left:25.25%
    }
    .col.span-sm-4{
        float:left;
        display:block;
        margin-right:1%;
        width:32.66667%
    }
    .col.span-sm-4:last-child{
        margin-right:0
    }
    .col.pull-sm-4{
        margin-left:-33.66667%
    }
    .col.push-sm-4{
        margin-left:33.66667%
    }
    .col.span-sm-5{
        float:left;
        display:block;
        margin-right:1%;
        width:41.08333%
    }
    .col.span-sm-5:last-child{
        margin-right:0
    }
    .col.pull-sm-5{
        margin-left:-42.08333%
    }
    .col.push-sm-5{
        margin-left:42.08333%
    }
    .col.span-sm-6{
        float:left;
        display:block;
        margin-right:1%;
        width:49.5%
    }
    .col.span-sm-6:last-child{
        margin-right:0
    }
    .col.pull-sm-6{
        margin-left:-50.5%
    }
    .col.push-sm-6{
        margin-left:50.5%
    }
    .col.span-sm-7{
        float:left;
        display:block;
        margin-right:1%;
        width:57.91667%
    }
    .col.span-sm-7:last-child{
        margin-right:0
    }
    .col.pull-sm-7{
        margin-left:-58.91667%
    }
    .col.push-sm-7{
        margin-left:58.91667%
    }
    .col.span-sm-8{
        float:left;
        display:block;
        margin-right:1%;
        width:66.33333%
    }
    .col.span-sm-8:last-child{
        margin-right:0
    }
    .col.pull-sm-8{
        margin-left:-67.33333%
    }
    .col.push-sm-8{
        margin-left:67.33333%
    }
    .col.span-sm-9{
        float:left;
        display:block;
        margin-right:1%;
        width:74.75%
    }
    .col.span-sm-9:last-child{
        margin-right:0
    }
    .col.pull-sm-9{
        margin-left:-75.75%
    }
    .col.push-sm-9{
        margin-left:75.75%
    }
    .col.span-sm-10{
        float:left;
        display:block;
        margin-right:1%;
        width:83.16667%
    }
    .col.span-sm-10:last-child{
        margin-right:0
    }
    .col.pull-sm-10{
        margin-left:-84.16667%
    }
    .col.push-sm-10{
        margin-left:84.16667%
    }
    .col.span-sm-11{
        float:left;
        display:block;
        margin-right:1%;
        width:91.58333%
    }
    .col.span-sm-11:last-child{
        margin-right:0
    }
    .col.pull-sm-11{
        margin-left:-92.58333%
    }
    .col.push-sm-11{
        margin-left:92.58333%
    }
    .col.span-sm-12{
        float:left;
        display:block;
        margin-right:1%;
        width:100%
    }
    .col.span-sm-12:last-child{
        margin-right:0
    }
    .col.pull-sm-12{
        margin-left:-101%
    }
    .col.push-sm-12{
        margin-left:101%
    }
    .col.no-omega-sm,.col.omega-sm{
        margin-right:0
    }
}
.nowrap{
    white-space:nowrap
}
html.debug .debug{
    font-family:monospace;
    font-size:1em;
    text-align:center;
    line-height:1.2;
    display:block;
    min-height:1em;
    position:fixed;
    color:#000;
    z-index:3;
    padding:4px 2px 2px 4px;
    border:1px solid #222;
    background-color:#fff;
    border-radius:3px;
    left:-3px;
    width:3em;
    top:-3px
}
html>*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
body,html{
    width:100%
}
.container{
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    max-width:1440px;
    position:relative;
    width:100%
}
.container:after{
    clear:both;
    content:"";
    display:block
}
body:before{
    content:none
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
    display:block
}
body{
    line-height:1
}
ol,ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:after,blockquote:before,q:after,q:before{
    content:"";
    content:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
h1{
    font-weight:600;
    line-height:1;
    font-size:calc(36px + 54 *((100vw - 300px) / 980))
}
@media screen and (max-width:300px){
    h1{
        font-size:36px
    }
}
@media screen and (min-width:1280px){
    h1{
        font-size:90px
    }
}
h1 small{
    font-size:.66667em;
    display:block
}
h2{
    font-weight:600;
    font-size:calc(40px + 30 *((100vw - 300px) / 980));
    line-height:106.25%;
    letter-spacing:1px
}
@media screen and (max-width:300px){
    h2{
        font-size:40px
    }
}
@media screen and (min-width:1280px){
    h2{
        font-size:70px
    }
}
h3{
    line-height:114.28571%;
    margin-bottom:.34286em;
    font-size:calc(36px + 34 *((100vw - 300px) / 980))
}
@media screen and (max-width:300px){
    h3{
        font-size:36px
    }
}
@media screen and (min-width:1280px){
    h3{
        font-size:70px
    }
}
h3 small{
    text-transform:none;
    display:block;
    font-size:calc(20px + 12 *((100vw - 300px) / 980))
}
@media screen and (max-width:300px){
    h3 small{
        font-size:20px
    }
}
@media screen and (min-width:1280px){
    h3 small{
        font-size:32px
    }
}
h5{
    line-height:126%;
    font-size:calc(24px + 26 *((100vw - 300px) / 980))
}
@media screen and (max-width:300px){
    h5{
        font-size:24px
    }
}
@media screen and (min-width:1280px){
    h5{
        font-size:50px
    }
}
h6{
    font-size:calc(20px + 30 *((100vw - 300px) / 980))
}
@media screen and (max-width:300px){
    h6{
        font-size:20px
    }
}
@media screen and (min-width:1280px){
    h6{
        font-size:50px
    }
}
li,p{
    line-height:160%
}
h1+*,h2+*,h3+*,h4+*,h5+*,h6+*{
    margin-top:.75em
}
ol+*,p+*,ul+*{
    margin-top:.7em
}
ul{
    padding-left:3em;
    list-style:disc
}
li+li{
    margin-top:.7em
}
body,html{
    font-family: mango,-apple-system,system-ui,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#000;
    font-size:22px;
    font-weight:400
}
a{
    color:#222;
    -webkit-transition:color .3s cubic-bezier(.25,.46,.45,.94);
    transition:color .3s cubic-bezier(.25,.46,.45,.94)
}
a:hover{
    color:#26d0fa
}
em{
    font-style:italic
}
.container{
    margin:0 auto;
    width:800px
}
@media screen and (min-width:768px) and (max-width:1067px){
    .container{
        width:600px
    }
}
@media screen and (min-width:300px) and (max-width:767px){
    .container{
        width:90%
    }
}
.container.thin{
    width:660px
}
@media screen and (min-width:768px) and (max-width:1067px){
    .container.thin{
        width:520px
    }
}
@media screen and (min-width:300px) and (max-width:767px){
    .container.thin{
        width:90%
    }
}
.header{
    position:absolute;
    z-index:1;
    height:60px;
    width:90%;
    left:5%;
    top:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    align-items:center
}
@media screen and (min-width:300px) and (max-width:767px){
    .header{
        height:96px
    }
}
.header .name{
    font-size:24px;
    font-weight:700;
    text-transform:none;
    font-family: 'VT323', monospace;
}
.header .links{
    margin-left:auto
}
.header .links .link-item{
    display:inline-block;
}
@media screen and (min-width:300px) and (max-width:767px){
    .header .links .link-item{
        display:block;
        font-size:16px;
        margin:.4em
    }
}
.links {
   margin: -8px 0px 0px 0px;
}
a {
    color:#3845FF;
}
.header .links .link{
    font-family: 'VT323', monospace;
    text-transform:uppercase;
    color:#3845FF;
    padding:0 10px;
    -webkit-transition:color .33s ease;
    transition:color .33s ease;
    text-decoration: none;
    font-style: italic;
}
.header .links .link:hover{
    color:#26d0fa
}
.footer{
    text-align:center;
    margin:8em 0 0;
    padding:2em 0
}
.footer .info-list{
    font-family:myriad-pro,helvetica,sans-serif;
    padding:0;
    list-style:none
}
.footer .info-list-item{
    line-height:1.6
}
.footer .info-list-item .link{
    color:#222;
    -webkit-transition:color .33s ease;
    transition:color .33s ease
}
.footer .info-list-item .link:hover{
    color:#26d0fa
}
.home .head{
    position:relative;
    width:100%;
    top:0;
    left:0;
    height:100vh
}

header.masthead {
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-head img{
  padding-top: 150px;
  padding-bottom: 100px;
}
.introduction{
    margin-top:2em
}
#chandelier{
    display: block;
  padding-top: 40vh;
  padding-left: 40vw;
}

#welcome {
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;  
}

svg {
  width: 100%;
    display: block;
    padding-top: 40vh;
    padding-left: 30vw;
}


* {
    box-sizing: border-box;
}
/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;

}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
    
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: none;
    padding: 10px;
}

.content h3, .content h4 {
        font-family: 'VT323', monospace;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.portfolio {
    margin: auto;
    width: 65%;
}

p {
    text-align: justify;
    column-count: 1;
}



#small-blurb {
    font-size: 16px;
    text-align: left;
}

#small-blurb-header{
    font-size:50px
}

.bg {
    /* The image used */
    background-image: url("/media/gradient-grainy-gradient-texture-wallpaper_23-2148968811.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }